/* ============================ debut styles de la login page=================================== */

/* General Page Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Login Container */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: auto;
    text-align: center;
}

/* Logo Section */
.login-logo img {
    width: 80px;
    margin-bottom: 15px;
}

.login-logo h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.color{
    color: rgb(15,42,150);
}

.form-group label {
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
    
}

.form-group input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.dan{
    font-size: 30px;
}
.dane{
    font-size: 50px;
    text-decoration: underline;
    color: rgb(255,95,0)
}

input{
    height: 50px;
}

/* Login Button */
#login-button {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: rgb(15,42,150);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

#login-button:hover {
    background-color: #0056b3;
}
/* ============================ fin styles de la login page=================================== */
p{
    color: red;
    font-style: 200px;
}